.login-container {
  background: #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 컨테이너의 높이를 화면 높이와 같게 설정하여 수직 가운데 정렬을 가능하게 합니다. */

}

.login-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 40px 80px;
}

.login-form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: inherit;
}

#login-image{
  max-width: 100%;
  height: auto;
  opacity: 1; /* 초기 투명도 설정 */
  transition: opacity 1s ease; /* 투명도 변경에 대한 트랜지션 설정 */
}

.align-left{
  align-self: flex-start;
}

.title-left{
  display: block;
}

.horizontal-line {
  border-top: 1px solid #ccc; /* 가로 선 스타일 */
  margin: 20px 0; /* 원하는 간격 설정 */
  width: 100%;
}

.vertical-line {
  border-left: 1px solid #ccc; /* 세로선 색상과 스타일 지정 */
  height: 400px /* 세로선의 높이를 부모 요소에 맞게 설정 */


}

.input_size{
  border: 1px solid #A8A8A8;
  border-radius: 3px;
  width: 100%;
  height: 20px;
}

.margin-8px{
  margin: 0.5rem;
}

.padding-8px{
  padding: 0rem 0.5rem;
}

.login-page-button{
  background-color: #363636;
  color: #fff;
  width: 100%;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 배경색 변화 시 부드러운 전환 효과 */
}

.login-page-button:hover{
  background-color: #cccccc; /* 호버 시 배경색 변경 */
}

#title-lg {
  font-size: 3rem;
  font-weight: 600;
}

#title-md {
  font-size: 2.25rem;
  font-weight: 600;
}

#title-sm {
  font-size: 1.5rem;
  font-weight: 600;
}

#text-lg {
  font-size: 1.125rem;
  font-weight: 600;
}

#text-md {
  font-size: 1rem;
  font-weight: normal;
}

#text-sm {
  font-size: 0.875rem;
  font-weight: normal;
}

#caption {
  font-size: 0.75rem;
  font-weight: normal;
}

@media (max-width: 390px) {
  #title-lg {
    font-size: 1.875rem;
    font-weight: 600;
  }
  #title-md {
    font-size: 1.625rem;
    font-weight: 600;
  }
  #title-sm {
    font-size: 1.25rem;
    font-weight: 600;
  }
  #text-lg {
    font-size: 1.125rem;
    font-weight: 600;
  }
  #text-md {
    font-size: 1.125rem;
    font-weight: normal;
  }
  #text-sm {
    font-size: 1rem;
    font-weight: normal;
  }
  #caption {
    font-size: 0.875rem;
    font-weight: normal;
  }
}

@media (max-width: 850px) {
  #login-image {
    opacity: 0; /* 미디어 쿼리 범위에서 이미지를 초기 상태로 설정 */
    transition: opacity 1s ease; /* 트랜지션 설정 */
    /*display: none;*/
    height: 0;
  }

  .vertical-line{
    display: none;
  }

  .login-box{
    padding: 20px;
    display: inherit;
  }
}
